.customs-logo a {
  font-size: 2.1rem;
  color: var(--orange-color) !important;
}

.bg-custom {
  background-color: #f3f3f3;
}
.btn-add {
  border: none !important;
  border-radius: 3px !important;
}

.btn-text {
  margin-left: 5px;
}

.link-item {
  color: var(--dark-color);
  margin-left: 15px;
}

.navbar-toggler {
  background-color: var(--dark-color) !important;
}

.fixed-nav {
  position: fixed !important;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  box-shadow: rgb(0 0 0 / 25%) 0px -20px 3px 20px,
    rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px,
    rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
}
